@model Dictionary<int, Device>


    <html>
        <head>
            <style>
                table td {
                    text-align: center;
                    vertical-align: middle;
                }

                table th {
                    text-align: center;
                    vertical-align: middle;
                }
            </style>
        </head>
<body>
    <div id="devices">
        @if (Model.Count > 0)
        {
            <table class="table table-bordered">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model[0].Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].ParameterOne)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].ParameterTwo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].LowerTheshold)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].UpperTheshold)
                    </th>
                </tr>
                @foreach (Device device in Model.Values)
                {
                    string parameterTwoColor = device.IsParameterTwoAcceptable ? "black" : "red";
                    <tr>
                        <td>
                            @device.Id
                        </td>
                        <td>
                            @device.ParameterOne
                        </td>
                        <td style="color:@parameterTwoColor">
                            @device.ParameterTwo
                        </td>
                        <td>
                            @device.LowerTheshold
                        </td>
                        <td>
                            @device.UpperTheshold
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <div class="text-center">
                <h1 class="display-4">There are no devices</h1>
            </div>
        }
    </div>
</body>
    </html>